	#wrapper{
		@extend %fullPlace;
		display: flex;
		flex-direction: column;			
		background-color:#f7f4f4;
	}
	header{
		height:100px;
		width:100%;
	}
	main{
		background-image:url(../images/main-bg.jpg);
		background-repeat:no-repeat;
		background-position:center fixed;
		width:100%;
		background-size:cover;
		flex: auto;
		// hieght:100%;
	}
	footer{
		background-color:black;		
		width:100%;		
		height:72px;
	}