		
	#bskImg-wrapper{
		background-color:white;
		position:absolute;
		top:0px;
		left:0px;
		border:4px groove #37a5ef;
		height:100px;
		width:100px;
		box-sizing:border-box;
	}
	.fa-basketball-ball{	
		color:#37a5ef;
		width:90%;
		height:90%;
		margin-left:7.5%;
		margin-top:5.5%;
		font-size:80px;
		display: block;
	}
	#menu-wrapper{
		height:70px;
		width:100%;
		float:left;
		background-color:#2b0606;
 		// background-color:#635757;
	}	
	#menu-logo{
		@include importImg('header-logo.png',200px,73.6px,100%,17%);
		margin-left:15%;
		margin-right:5%;
		float:left;
	}
	#menu-nav{		
		background-color:#2b0606;
		height:100%;
		width:63%;
		float:right;
		ul{
			margin:0px;
			padding:0px;
			list-style: none;
			height:100%;
			float:left;
			width:88%;
			font-family: 'Righteous', cursive;	
			li{		
				height:100%;
				float:left;
				padding-left:4%;
				padding-right:4%;
				display:inline-block;
				color:white;
				border-bottom:5px solid #37a5ef;
				border-left:1px dashed white;
				box-sizing:content-box;				
			}	
		}
	}
	.menu-nav-text{
		display:block;
		font-weight:bold;		
		margin-top:30px;
		width:100%;		
	}
	.fa-horse-head{
		color:#37a5ef;
		font-size:33px;
		width:12%;
		padding-top:22px;
		padding-left:12px;
		 // color:#ce6161; 
		 // height:40px; 
	}