	// #main-text{	
	// 	transform:translate(0px,0px);
	// 	opacity:1;
	// 	transform:duration:0.8; 
	// 	transform:delay:0.4; 
	// 	animation:Power2.easeInOut;
	// 	transform: matrix(1, 0, 0, 1, 0, 0); 
	// 	opacity: 1;
	// 	color:white;
	// }
	#main-lukadoncicImg{
		@include importImg('main-lukadoncic.png',170px,300px,69%,25%);
		position:relative;		
		top:31%;
		left:75%;
		display: block;
	}